<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="AddOn.Forms.EmailElementBlock" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="AddOn.Forms.EmailElementBlock" />
  </assemblies>
  <clientResources>
    <add name="email-form-element" path="ClientResources/css/emailelement.css" resourceType="Style" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="email-form-element" />
    </requiredResources>
  </clientModule>
</module>
